<div class="container-fluid px-5 d-flex align-items-center justify-content-between">
  <!-- Logo and Title -->
  <div class="d-flex align-items-center">
    <a routerLink="/" class="cursor-pointer me-2 fw-bold">
      <img src="logo2.png" alt="daddy" class="" style="max-height: 25px;"/>
    </a>
    <!-- Separator -->
    <span class="border-gray-300 border-start mx-3" style="height: 20px;"></span>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid" viewBox="0 0 16 16">
      <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5z"/>
    </svg>
    </div>

  <!-- Search Bar and Middle Section -->
  <div class="d-flex align-items-center flex-grow-1 mx-4">
    <!-- Search Bar -->
    <div class="input-group w-50 m-1">
      <span class="input-group-text" style="border: 0px; color: grey;">
        <i class="fa-solid fa-magnifying-glass" ></i>
      </span>
      <input
        type="text"
        style="width: 200px;border: 0px; color: rgb(117, 116, 116); font-size: 14px;font-weight: 600;"
        class="form-control"
        placeholder="Filter keywords"
        aria-label="Search keywords"
      />
    </div>

    <!-- Company Name -->
    <div class="text-uppercase fw-bold text-secondary bg-light px-4 py-1 rounded w-50" style="text-align: right; font-size: 13px !important; font-family: inherit;">
      Mantic Software
    </div>
  </div>
  <span class="border-gray-300 border-start mx-3" style="height: 20px;"></span>

  <!-- Icons and Buttons -->
  <div class="d-flex align-items-center">
    <!-- Activities -->
    <div id="kt_activities_toggle" class="btn btn-icon btn-light btn-sm me-2">
      <i class="fa-solid fa-bolt text-secondary"></i>
    </div>

    <!-- Notifications -->
    <div class="btn btn-icon btn-light btn-sm position-relative me-2">
      <i class="fa-regular fa-bell text-secondary"></i>
    </div>

    <!-- Chat -->
    <div class="btn btn-icon btn-light btn-sm position-relative me-2">
      <i class="fa-regular fa-message text-secondary"></i>
    </div>


    <div
      id="kt_drawer_chat_toggle"
      class="btn btn-icon btn-light btn-sm position-relative"
    >
      <i class="fa-solid fa-bars text-secondary"></i>
      <span
        class="bullet bullet-dot bg-success h-6px w-6px position-absolute translate-middle animation-blink"
        style="top: 5px; left: 80%;"
      ></span>
    </div>
  </div>
</div>
